In [ ]:
!mkidr "/content/drive/pokemon pandas"

/bin/bash: mkidr: command not found

In [1]:
import pandas as pd
import numpy as np

In [16]:
pokemon = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pokemon.csv')
pokemon.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

In [17]:
pokemon.tail()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
893,894,VIII,Regieleki,Regieleki,electric,NaN,Electron Pokémon,NaN,NaN,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,This Pokémon is a cluster of electrical energy...
894,895,VIII,Regidrago,Regidrago,dragon,NaN,Dragon Orb Pokémon,NaN,NaN,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An academic theory proposes that Regidrago’s a...
895,896,VIII,Glastrier,Blizapos,ice,NaN,Wild Horse Pokémon,NaN,NaN,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Glastrier emits intense cold from its hooves. ...
896,897,VIII,Spectrier,Rayspos,ghost,NaN,Swift Horse Pokémon,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It probes its surroundings with all its senses...
897,898,VIII,Calyrex,Badrex,psychic,grass,King Pokémon,NaN,NaN,1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Calyrex is a merciful Pokémon, capable of prov..."

In [19]:
pokemon.sample(3)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
600,601,V,Klinklang,Gigigiaru,steel,NaN,Gear Pokémon,NaN,NaN,0.6,...,Level,Klang,Level,Klinklang,NaN,NaN,NaN,NaN,NaN,"From its spikes, it launches powerful blasts o..."
454,455,IV,Carnivine,Muskippa,grass,NaN,Bug Catcher Pokémon,50,50,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It attracts prey with its sweet-smelling saliv...
459,460,IV,Abomasnow,Yukinooh,grass,ice,Frosted Tree Pokémon,50.2,49.8,2.2,...,Level,Abomasnow,NaN,NaN,NaN,NaN,NaN,Mega Abomasnow,NaN,If it sees any packs of Darumaka going after S...

In [20]:
pokemon.describe()

,national_number,height_m,weight_kg,base_egg_steps,hp,attack,defense,sp_attack,sp_defense,speed,...,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,is_sublegendary,is_legendary,is_mythical
count,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,...,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.00000,898.000000,898.000000,898.000000
mean,449.500000,1.185969,63.970045,7544.587973,69.031180,76.544543,71.886414,69.681514,69.876392,65.949889,...,0.999165,1.245546,0.994432,0.972717,1.057628,0.984131,1.08157,0.050111,0.022272,0.022272
std,259.374568,1.234222,119.430298,7101.313608,26.213707,29.665559,29.536184,29.372609,27.012142,28.456596,...,0.609120,0.702248,0.553163,0.365120,0.441639,0.497022,0.53157,0.218296,0.147648,0.147648
min,1.000000,0.100000,0.100000,1280.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,...,0.250000,0.250000,0.000000,0.000000,0.250000,0.250000,0.25000,0.000000,0.000000,0.000000
25%,225.250000,0.500000,8.500000,5120.000000,50.000000,55.000000,50.000000,46.250000,50.000000,45.000000,...,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.00000,0.000000,0.000000,0.000000
50%,449.500000,1.000000,27.000000,5120.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000
75%,673.750000,1.500000,65.000000,6400.000000,80.000000,95.000000,90.000000,90.000000,85.000000,85.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000
max,898.000000,20.000000,999.900000,30720.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,...,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.00000,1.000000,1.000000,1.000000

In [21]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   national_number     898 non-null    int64
 1   gen                 898 non-null    object
 2   english_name        898 non-null    object
 3   japanese_name       898 non-null    object
 4   primary_type        898 non-null    object
 5   secondary_type      469 non-null    object
 6   classification      898 non-null    object
 7   percent_male        776 non-null    object
 8   percent_female      776 non-null    object
 9   height_m            898 non-null    float64
 10  weight_kg           898 non-null    float64
 11  capture_rate        898 non-null    object
 12  base_egg_steps      898 non-null    int64
 13  hp                  898 non-null    int64
 14  attack              898 non-null    int64
 15  defense             898 non-null    int64
 16  sp_attack           898 non-null    int64
 17  sp_defense          898 non-null    int64
 18  speed               898 non-null    int64
 19  abilities_0         898 non-null    object
 20  abilities_1         495 non-null    object
 21  abilities_2         3 non-null      object
 22  abilities_hidden    763 non-null    object
 23  against_normal      898 non-null    float64
 24  against_fire        898 non-null    float64
 25  against_water       898 non-null    float64
 26  against_electric    898 non-null    float64
 27  against_grass       898 non-null    float64
 28  against_ice         898 non-null    float64
 29  against_fighting    898 non-null    float64
 30  against_poison      898 non-null    float64
 31  against_ground      898 non-null    float64
 32  against_flying      898 non-null    float64
 33  against_psychic     898 non-null    float64
 34  against_bug         898 non-null    float64
 35  against_rock        898 non-null    float64
 36  against_ghost       898 non-null    float64
 37  against_dragon      898 non-null    float64
 38  against_dark        898 non-null    float64
 39  against_steel       898 non-null    float64
 40  against_fairy       898 non-null    float64
 41  is_sublegendary     898 non-null    int64
 42  is_legendary        898 non-null    int64
 43  is_mythical         898 non-null    int64
 44  evochain_0          898 non-null    object
 45  evochain_1          728 non-null    object
 46  evochain_2          728 non-null    object
 47  evochain_3          335 non-null    object
 48  evochain_4          332 non-null    object
 49  evochain_5          19 non-null     object
 50  evochain_6          19 non-null     object
 51  gigantamax          31 non-null     object
 52  mega_evolution      46 non-null     object
 53  mega_evolution_alt  2 non-null      object
 54  description         898 non-null    object
dtypes: float64(20), int64(11), object(24)
memory usage: 386.0+ KB

In [23]:
pokemon.shape

(898, 55)

In [25]:
coluna_primeiro_tipo = pokemon['primary_type']
coluna_primeiro_tipo.head()

0    grass
1    grass
2    grass
3     fire
4     fire
Name: primary_type, dtype: object

In [28]:
name_type = pokemon[['english_name','primary_type','secondary_type']]
name_type.head()

  english_name primary_type secondary_type
0    Bulbasaur        grass         poison
1      Ivysaur        grass         poison
2     Venusaur        grass         poison
3   Charmander         fire            NaN
4   Charmeleon         fire            NaN

In [31]:
filtro_pokemon = pokemon[pokemon['primary_type'] == 'grass']
filtro_pokemon.tail()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
828,829,VIII,Gossifleur,Himenka,grass,NaN,Flowering Pokémon,50.2,49.8,0.4,...,Level,Eldegoss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It anchors itself in the ground with its singl...
829,830,VIII,Eldegoss,Watashiraga,grass,NaN,Cotton Bloom Pokémon,50.2,49.8,0.5,...,Level,Eldegoss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The seeds attached to its cotton fluff are ful...
839,840,VIII,Applin,Kajitchu,grass,dragon,Apple Core Pokémon,50.2,49.8,0.2,...,Use Tart Apple,Flapple,Use Sweet Apple,Appletun,NaN,NaN,NaN,NaN,NaN,It spends its entire life inside an apple. It ...
840,841,VIII,Flapple,Appryu,grass,dragon,Apple Wing Pokémon,50.2,49.8,0.3,...,Use Tart Apple,Flapple,Use Sweet Apple,Appletun,NaN,NaN,Gigantamax Flapple,NaN,NaN,"It ate a sour apple, and that induced its evol..."
841,842,VIII,Appletun,Tarupple,grass,dragon,Apple Nectar Pokémon,50.2,49.8,0.4,...,Use Tart Apple,Flapple,Use Sweet Apple,Appletun,NaN,NaN,NaN,NaN,NaN,Eating a sweet apple caused its evolution. A n...

In [38]:
pokemon_fraquezas = pokemon[pokemon['against_water'] > 2]
pokemon_fraquezas[['english_name', 'primary_type', 'secondary_type','against_water']]

    english_name primary_type secondary_type  against_water
73       Geodude         rock         ground            4.0
74      Graveler         rock         ground            4.0
75         Golem         rock         ground            4.0
94          Onix         rock         ground            4.0
110      Rhyhorn       ground           rock            4.0
111       Rhydon       ground           rock            4.0
218     Magcargo         fire           rock            4.0
245     Larvitar         rock         ground            4.0
246      Pupitar         rock         ground            4.0
321        Numel         fire         ground            4.0
322     Camerupt         fire         ground            4.0
463    Rhyperior       ground           rock            4.0
837       Carkol         rock           fire            4.0
838    Coalossal         rock           fire            4.0

In [44]:
pokemon_dupla_fraqueza_E = pokemon[(pokemon['against_dark'] > 1) & (pokemon['against_ghost'] > 1)]
pokemon_dupla_fraqueza_E[['english_name', 'primary_type', 'secondary_type', 'against_dark', 'against_ghost']].head(20)

    english_name primary_type secondary_type  against_dark  against_ghost
62          Abra      psychic            NaN           2.0            2.0
63       Kadabra      psychic            NaN           2.0            2.0
64      Alakazam      psychic            NaN           2.0            2.0
78      Slowpoke        water        psychic           2.0            2.0
79       Slowbro        water        psychic           2.0            2.0
91        Gastly        ghost         poison           2.0            2.0
92       Haunter        ghost         poison           2.0            2.0
93        Gengar        ghost         poison           2.0            2.0
95       Drowzee      psychic            NaN           2.0            2.0
96         Hypno      psychic            NaN           2.0            2.0
101    Exeggcute        grass        psychic           2.0            2.0
102    Exeggutor        grass        psychic           2.0            2.0
120      Starmie        water        psychic           2.0            2.0
121     Mr. Mime      psychic          fairy           1.0            2.0
123         Jynx          ice        psychic           2.0            2.0
149       Mewtwo      psychic            NaN           2.0            2.0
150          Mew      psychic            NaN           2.0            2.0
176         Natu      psychic         flying           2.0            2.0
177         Xatu      psychic         flying           2.0            2.0
195       Espeon      psychic            NaN           2.0            2.0

In [50]:
pokemon_dupla_fraqueza_OU = pokemon[(pokemon['against_water'] > 1) | (pokemon['against_ground'] > 1)]
pokemon_dupla_fraqueza_OU[['english_name', 'primary_type', 'secondary_type', 'against_water', 'against_ground']].head(20)

   english_name primary_type secondary_type  against_water  against_ground
3    Charmander         fire            NaN            2.0             2.0
4    Charmeleon         fire            NaN            2.0             2.0
5     Charizard         fire         flying            2.0             0.0
22        Ekans       poison            NaN            1.0             2.0
23        Arbok       poison            NaN            1.0             2.0
24      Pikachu     electric            NaN            1.0             2.0
25       Raichu     electric       electric            1.0             2.0
26    Sandshrew       ground            ice            2.0             1.0
27    Sandslash       ground            ice            2.0             1.0
28     Nidoran♀       poison            NaN            1.0             2.0
29     Nidorina       poison            NaN            1.0             2.0
30    Nidoqueen       poison         ground            2.0             2.0
31     Nidoran♂       poison            NaN            1.0             2.0
32     Nidorino       poison            NaN            1.0             2.0
33     Nidoking       poison         ground            2.0             2.0
36       Vulpix         fire            ice            2.0             2.0
37    Ninetales         fire            ice            2.0             2.0
49      Diglett       ground         ground            2.0             1.0
50      Dugtrio       ground         ground            2.0             1.0
57    Growlithe         fire            NaN            2.0             2.0

In [52]:
pokemon_dupla_fraqueza_OU = pokemon[(pokemon['against_water'] > 1) & (pokemon['against_ground'] > 1) & (pokemon['against_electric'])]
pokemon_dupla_fraqueza_OU[['english_name', 'primary_type', 'secondary_type', 'against_water', 'against_ground', 'against_electric']].head(20)

,english_name,primary_type,secondary_type,against_water,against_ground,against_electric
3,Charmander,fire,NaN,2.0,2.0,1.0
4,Charmeleon,fire,NaN,2.0,2.0,1.0
36,Vulpix,fire,ice,2.0,2.0,1.0
37,Ninetales,fire,ice,2.0,2.0,1.0
57,Growlithe,fire,NaN,2.0,2.0,1.0
58,Arcanine,fire,NaN,2.0,2.0,1.0
76,Ponyta,fire,psychic,2.0,2.0,1.0
77,Rapidash,fire,psychic,2.0,2.0,1.0
125,Magmar,fire,NaN,2.0,2.0,1.0
135,Flareon,fire,NaN,2.0,2.0,1.0
154,Cyndaquil,fire,NaN,2.0,2.0,1.0
155,Quilava,fire,NaN,2.0,2.0,1.0
156,Typhlosion,fire,NaN,2.0,2.0,1.0
184,Sudowoodo,rock,NaN,2.0,2.0,1.0
217,Slugma,fire,NaN,2.0,2.0,1.0
218,Magcargo,fire,rock,4.0,4.0,1.0
227,Houndour,dark,fire,2.0,2.0,1.0
228,Houndoom,dark,fire,2.0,2.0,1.0
239,Magby,fire,NaN,2.0,2.0,1.0
243,Entei,fire,NaN,2.0,2.0,1.0

In [54]:
mega = pokemon[['english_name', 'mega_evolution']]
mega

    english_name mega_evolution
0      Bulbasaur            NaN
1        Ivysaur            NaN
2       Venusaur  Mega Venusaur
3     Charmander            NaN
4     Charmeleon            NaN
..           ...            ...
893    Regieleki            NaN
894    Regidrago            NaN
895    Glastrier            NaN
896    Spectrier            NaN
897      Calyrex            NaN

[898 rows x 2 columns]

In [57]:
mega = pokemon[pokemon['mega_evolution'].notna()]
mega[['english_name', 'mega_evolution']].head(10)

    english_name    mega_evolution
2       Venusaur     Mega Venusaur
5      Charizard  Mega Charizard X
8      Blastoise    Mega Blastoise
14      Beedrill     Mega Beedrill
17       Pidgeot      Mega Pidgeot
64      Alakazam     Mega Alakazam
79       Slowbro      Mega Slowbro
93        Gengar       Mega Gengar
114   Kangaskhan   Mega Kangaskhan
126       Pinsir       Mega Pinsir

In [59]:
pokemon.iloc[0:20]

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."
5,6,I,Charizard,Lizardon,fire,flying,Flame Pokémon,88.14,11.86,1.7,...,Level,Charmeleon,Level,Charizard,NaN,NaN,Gigantamax Charizard,Mega Charizard X,Mega Charizard Y,It spits fire that is hot enough to melt bould...
6,7,I,Squirtle,Zenigame,water,NaN,Tiny Turtle Pokémon,88.14,11.86,0.5,...,Level,Wartortle,Level,Blastoise,NaN,NaN,NaN,NaN,NaN,"When it retracts its long neck into its shell,..."
7,8,I,Wartortle,Kameil,water,NaN,Turtle Pokémon,88.14,11.86,1.0,...,Level,Wartortle,Level,Blastoise,NaN,NaN,NaN,NaN,NaN,It is recognized as a symbol of longevity. If ...
8,9,I,Blastoise,Kamex,water,NaN,Shellfish Pokémon,88.14,11.86,1.6,...,Level,Wartortle,Level,Blastoise,NaN,NaN,Gigantamax Blastoise,Mega Blastoise,NaN,It crushes its foe under its heavy body to cau...
9,10,I,Caterpie,Caterpie,bug,NaN,Worm Pokémon,50.2,49.8,0.3,...,Level,Metapod,Level,Butterfree,NaN,NaN,NaN,NaN,NaN,"For protection, it releases a horrible stench ..."
10,11,I,Metapod,Transel,bug,NaN,Cocoon Pokémon,50.2,49.8,0.7,...,Level,Metapod,Level,Butterfree,NaN,NaN,NaN,NaN,NaN,It is waiting for the moment to evolve. At thi...
11,12,I,Butterfree,Butterfree,bug,flying,Butterfly Pokémon,50.2,49.8,1.1,...,Level,Metapod,Level,Butterfree,NaN,NaN,Gigantamax Butterfree,NaN,NaN,"In battle, it flaps its wings at great speed t..."
12,13,I,Weedle,Beedle,bug,poison,Hairy Pokémon,50,50,0.3,...,Level,Kakuna,Level,Beedrill,NaN,NaN,NaN,NaN,NaN,Beware of the sharp stinger on its head. It hi...
13,14,I,Kakuna,Cocoon,bug,poison,Cocoon Pokémon,50,50,0.6,...,Level,Kakuna,Level,Beedrill,NaN,NaN,NaN,NaN,NaN,"Able to move only slightly. When endangered, i..."
14,15,I,Beedrill,Spear,bug,poison,Poison Bee Pokémon,50,50,1.0,...,Level,Kakuna,Level,Beedrill,NaN,NaN,NaN,Mega Beedrill,NaN,It has three poisonous stingers on its foreleg...
15,16,I,Pidgey,Poppo,normal,flying,Tiny Bird Pokémon,50,50,0.3,...,Level,Pidgeotto,Level,Pidgeot,NaN,NaN,NaN,NaN,NaN,"Very docile. If attacked, it will often kick u..."
16,17,I,Pidgeotto,Pigeon,normal,flying,Bird Pokémon,50,50,1.1,...,Level,Pidgeotto,Level,Pidgeot,NaN,NaN,NaN,NaN,NaN,This Pokémon is full of vitality. It constantl...
17,18,I,Pidgeot,Pigeot,normal,flying,Bird Pokémon,50,50,1.5,...,Level,Pidgeotto,Level,Pidgeot,NaN,NaN,NaN,Mega Pidgeot,NaN,"This Pokémon flies at Mach 2 speed, seeking pr..."
18,19,I,Rattata,Koratta,normal,dark,Mouse Pokémon,50,50,0.3,...,Level,Raticate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Will chew on anything with its fangs. If you s...
19,20,I,Raticate,Ratta,normal,dark,Mouse Pokémon,50,50,0.7,...,Level,Raticate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Its hind feet are webbed. They act as flippers...

In [60]:
pokemon.iloc[0].english_name

'Bulbasaur'

In [61]:
pokemon.iloc[0]

national_number                                                       1
gen                                                                   I
english_name                                                  Bulbasaur
japanese_name                                               Fushigidane
primary_type                                                      grass
secondary_type                                                   poison
classification                                             Seed Pokémon
percent_male                                                      88.14
percent_female                                                    11.86
height_m                                                            0.7
weight_kg                                                           6.9
capture_rate                                                         45
base_egg_steps                                                     5120
hp                                                                   45
attack                                                               49
defense                                                              49
sp_attack                                                            65
sp_defense                                                           65
speed                                                                45
abilities_0                                                    Overgrow
abilities_1                                                         NaN
abilities_2                                                         NaN
abilities_hidden                                            Chlorophyll
against_normal                                                      1.0
against_fire                                                        2.0
against_water                                                       0.5
against_electric                                                    0.5
against_grass                                                      0.25
against_ice                                                         2.0
against_fighting                                                    0.5
against_poison                                                      1.0
against_ground                                                      1.0
against_flying                                                      2.0
against_psychic                                                     2.0
against_bug                                                         1.0
against_rock                                                        1.0
against_ghost                                                       1.0
against_dragon                                                      1.0
against_dark                                                        1.0
against_steel                                                       1.0
against_fairy                                                       0.5
is_sublegendary                                                       0
is_legendary                                                          0
is_mythical                                                           0
evochain_0                                                    Bulbasaur
evochain_1                                                       Level
evochain_2                                                      Ivysaur
evochain_3                                                       Level
evochain_4                                                     Venusaur
evochain_5                                                          NaN
evochain_6                                                          NaN
gigantamax                                                          NaN
mega_evolution                                                      NaN
mega_evolution_alt                                                  NaN
description           There is a plant seed on its back right from t...
Name: 0, dtype: object

In [64]:
pokemon.iloc[3:10, 5:7]

  secondary_type       classification
3            NaN       Lizard Pokémon
4            NaN        Flame Pokémon
5         flying        Flame Pokémon
6            NaN  Tiny Turtle Pokémon
7            NaN       Turtle Pokémon
8            NaN    Shellfish Pokémon
9            NaN         Worm Pokémon

In [66]:
pokemon.iloc[5:20:2]

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
5,6,I,Charizard,Lizardon,fire,flying,Flame Pokémon,88.14,11.86,1.7,...,Level,Charmeleon,Level,Charizard,NaN,NaN,Gigantamax Charizard,Mega Charizard X,Mega Charizard Y,It spits fire that is hot enough to melt bould...
7,8,I,Wartortle,Kameil,water,NaN,Turtle Pokémon,88.14,11.86,1.0,...,Level,Wartortle,Level,Blastoise,NaN,NaN,NaN,NaN,NaN,It is recognized as a symbol of longevity. If ...
9,10,I,Caterpie,Caterpie,bug,NaN,Worm Pokémon,50.2,49.8,0.3,...,Level,Metapod,Level,Butterfree,NaN,NaN,NaN,NaN,NaN,"For protection, it releases a horrible stench ..."
11,12,I,Butterfree,Butterfree,bug,flying,Butterfly Pokémon,50.2,49.8,1.1,...,Level,Metapod,Level,Butterfree,NaN,NaN,Gigantamax Butterfree,NaN,NaN,"In battle, it flaps its wings at great speed t..."
13,14,I,Kakuna,Cocoon,bug,poison,Cocoon Pokémon,50,50,0.6,...,Level,Kakuna,Level,Beedrill,NaN,NaN,NaN,NaN,NaN,"Able to move only slightly. When endangered, i..."
15,16,I,Pidgey,Poppo,normal,flying,Tiny Bird Pokémon,50,50,0.3,...,Level,Pidgeotto,Level,Pidgeot,NaN,NaN,NaN,NaN,NaN,"Very docile. If attacked, it will often kick u..."
17,18,I,Pidgeot,Pigeot,normal,flying,Bird Pokémon,50,50,1.5,...,Level,Pidgeotto,Level,Pidgeot,NaN,NaN,NaN,Mega Pidgeot,NaN,"This Pokémon flies at Mach 2 speed, seeking pr..."
19,20,I,Raticate,Ratta,normal,dark,Mouse Pokémon,50,50,0.7,...,Level,Raticate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Its hind feet are webbed. They act as flippers...

In [68]:
pokemon.loc[:,'english_name']

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
893     Regieleki
894     Regidrago
895     Glastrier
896     Spectrier
897       Calyrex
Name: english_name, Length: 898, dtype: object